MON_PARTNER="@MON_PARTNER@"
MON_PARTNER_SECRET="@MON_PARTNER_SECRET@"
ADMIN_PARTNER="-2"
ADMIN_PARTNER_SECRET="@MINUS_TWO_PARTNER_SECRET@"
SERVICE_URL="@SERVICE_URL@"
export MON_PARTNER MON_PARTNER_SECRET ADMIN_PARTNER ADMIN_PARTNER_SECRET SERVICE_URL
