KalturaGeneratedAPIClientsPHP=php5
KalturaGeneratedAPIClientsZF=php5Zend
KalturaGeneratedAPIClientsPHP53=php53
KalturaGeneratedAPIClientsCLI=cli
KalturaGeneratedAPIClientsRuby=ruby
KalturaGeneratedAPIClientsNodeJS=node
KalturaGeneratedAPIClientsJava=java
#KalturaGeneratedAPIClientsAndroid=android
#KalturaGeneratedAPIClientsObjectiveC=objc
KalturaGeneratedAPIClientsPython=python
#KalturaGeneratedAPIClientsCsharp=csharp
