#KalturaGeneratedAPIClientsCLI=cli
KalturaGeneratedAPIClientsPHP=php5
KalturaGeneratedAPIClientsRuby=ruby
KalturaGeneratedAPIClientsJava=java
KalturaGeneratedAPIClientsZF=php5Zend
KalturaGeneratedAPIClientsPHP53=php53
KalturaGeneratedAPIClientsNodeJS=node
KalturaGeneratedAPIClientsPython=python
#KalturaGeneratedAPIClientsAndroid=android
KalturaGeneratedAPIClientsObjectiveC=objc
KalturaGeneratedAPIClientsCsharp=csharp
KalturaGeneratedAPIClientsAJAX=ajax
KalturaGeneratedAPIClientsSwift=swift
